@model List<BMS.ViewModel.GroupListViewModel>

<div class="row">
    <div class="row pt-2">
        <div class="col-11">
            <p class="h5">客户列表 </p>
        </div>
        <div class="col-1 ">
            <a asp-controller="GroupManagement" asp-action="AddGroup" class="btn btn-primary d-inline-flex align-items-center">
                新建分组
            </a>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
        <table id="table" class="table table-responsive"
               data-toggle="table"
               data-search="true"
               data-pagination="true">
            <thead class="thead-light">
                <tr>
                    <th>序号</th>
                    <th>分组名称</th>
                    <th>项目数</th>
                    <th>设备数</th>
                    <th>创建日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                 @for (int i = 0; i < Model.Count; i++) {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].GroupName</td>
                        <td>@Model[i].ProjectCount</td>
                        <td>@Model[i].DeviceCount</td>
                        <td>@Model[i].CreateTime.ToString("yyyy-MM-dd")</td>
                        <td class="gap-1">
                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#bindProjectModal" data-name="@Model[i].GroupName" data-id="@Model[i].GroupId">绑定项目</button>
                        </td>
                    </tr>
                } 
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("~/Views/GroupManagement/_IndexBindProjectModal.cshtml")

@section Scripts{
    <script>
        var getAllProjectUrl = '@Url.Action("GetProjectListByGroupId", "ProjectManagement")';
        var bindProjectToGroupUrl = '@Url.Action("BindProjectToGroup", "GroupManagement")';
        var GroupIndexUrl = '@Url.Action("Index", "GroupManagement")';
    </script>

    <script src="~/js/GroupManagement/bind_project.js"></script>
}