@model List<BMS.Models.Device.DeviceInfo>

<div class="row">
    <div class="row pt-2">
        <div class="col-10">
            <p class="h5">设备列表 </p>
        </div>
        <div class="col-1 ">
            <a asp-controller="DeviceManagement" asp-action="DownloadTemplate" class="btn btn-primary d-inline-flex align-items-center">
                下载模板
            </a>
        </div>
        <div class="col-1 ">
            <a href="javascript:void(0);" class="btn btn-primary d-inline-flex align-items-center" id="importBtn">
                导入设备
            </a>
            <input type="file" id="fileInput" accept=".xlsx, .xls" style="display:none" />
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
        <table id="table" class="table table-responsive"
               data-toggle="table"
               data-search="true"
               data-pagination="true">
            <thead class="thead-light">
                <tr>
                    <th>序号</th>
                    <th>BMS编号</th>
                    <th>电池编号</th>
                    <th>车辆编号</th>
                    <th>项目编号</th>
                    <th>项目名称</th>
                    <th>激活时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++) {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model[i].BMSSeriesNumber</td>
                        <td>@Model[i].BatterySeriesNumber</td>
                        <td>@Model[i].CarSeriesNumber</td>
                        @if (@Model[i].projectInfo == null) {
                            <td></td>
                            <td></td>
                        } else {
                            <td>@Model[i].projectInfo.CustomerProjectNumber</td>
                            <td>@Model[i].projectInfo.CustomerProjectName</td>
                        }
                        <td>@Model[i].ActivationTime.ToString("yyyy-MM-dd")</td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#bindProjectModal" data-name="@Model[i].BMSSeriesNumber" data-id="@Model[i].Id">绑定项目</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("~/Views/DeviceManagement/_IndexBindProjectModalModal.cshtml")

@section Scripts{
<script>
    var getProjectListUrl = '@Url.Action("GetProjectListByDeviceId", "ProjectManagement")';
    var deviceBindToProjectUrl = '@Url.Action("DeviceBindToProject", "DeviceManagement")';
    var deviceListUrl = '@Url.Action("Index", "DeviceManagement")';
    var ImportDeviceInfoUrl = '@Url.Action("ImportDeviceInfo", "DeviceManagement")';

   

</script>
<script src="~/js/DeviceManagement/bind_project.js"></script>
<script src="~/js/DeviceManagement/import_device_info.js"></script>
}